<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= form_for(@article) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
			<%= f.text_field :title, class: 'form-control input-lg simplebox', id: "titlebox", placeholder: "Title" %>
			<%= f.text_area :content, class: 'form-control input-lg simplebox', id: "contentbox", placeholder: "Put your words here (it's ok to press TAB)" %>
			<%= f.submit "Save draft", class: "btn btn-primary", id: "submitdraft", name: 'submit' %>
			<%= f.submit "Publish article", class: "btn btn-primary", id: "submitpost", name: 'submit' %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$("textarea").keydown(function(e) {
			var $this, end, start;
			if (e.keyCode === 9 && e.shiftKey) {
				return false;
			}
			else if (e.keyCode === 9) {
				start = this.selectionStart;
				end = this.selectionEnd;
				$this = $(this);
				$this.val($this.val().substring(0,start) + "\t" + $this.val().substring(end));
				this.selectionStart = this.selectionEnd = start + 1;
				return false;
			}
});
</script>