<div class="row">
	<div class="col-md-8 col-md-offset-2 articles" id="single-article">
		<span class="title"><%= @article.title %></span>
		<div class="content"><%= @article.content %></div>
		<div class="list-footer">
			<%= render 'shared/rating' %>
			<% unless @my_article %>
				<span class="timestamp"> by <%= link_to @user.name, @user %></span>
			<% end %>
			<span class="timestamp">Published <%= time_ago_in_words(@article.updated_at) %> ago</span>
			<%= render 'shared/thumbs' %>
		</div>
	</div>
</div>
