<!-- modal -->
	<% unless @article.nil? %>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="title modal-title" id="modalLabel"><%= link_to @article.title, article_path(@article.id) %></h4>
			</div>
			<div class="modal-body">
				<div class="content nostyle"><%= link_to @article.content, random_path, remote: true  %></div>
				<div class="list-footer">
					<%= render 'shared/rating' %>
					<% @user = @article.user %>
					<% unless @my_article %>
						<span class="timestamp"> by <%= link_to @user.name, @user %></span>
					<% end %>
					<span class="timestamp">Published <%= time_ago_in_words(@article.updated_at) %> ago</span>
					<%= render 'shared/thumbs' %>
				</div>
			</div>
		</div>
	</div>
<% end %>
