<div class="row">
  <section class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-sm-offset-0">
    <div class="well well-lg">
        <h3>Change password</h3>
      <%= form_for(@user, url: { controller: "users/change_passwords", action: "update" }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-asterisk fa-2x icon-2x"></i>
          </span>
            <%= f.password_field :password, class: 'form-control input-lg', placeholder: "New password" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-asterisk fa-2x icon-2x"></i>
          </span>
            <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: "Password confirmation" %>
        </div>
        <%= f.submit "Update password", class: 'btn btn-primary' %>
      <% end %>
    </div> <!-- end well well-lg -->
  </section>
</div>
