<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav pull-left" id="navmenu">
        <li><%= link_to "JustWrite", root_path, class: "navbar-brand", id: "brand" %></li>
        <li class="dropdown">
          <a href='#' class="dropdown-toggle" data-toggle="dropdown">
           Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if logged_in? %>
                <li><%= link_to "My posts", current_user %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                <li class="divider"></li>
                <li><%= link_to "Change email", change_emails_user_path(current_user) %></li>
                <li><%= link_to "Change password", change_passwords_user_path(current_user)  %></li>
              <% else %>
                <li><%= link_to "Log in", login_path %></li>
                <li><%= link_to "Sign up", signup_path %></li>
              <% end %>
            </ul>
        </li>
				<% if logged_in? %>
					<li><%= link_to "New post", new_article_path(current_user) %></li>
					<li><%= link_to "My posts", current_user %></li>
					<li><%= link_to "My drafts", drafts_path(current_user) %></li>

				<% end %>

        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Log out", '#' %></li>
          </ul>
          </li> -->
      </ul>
    </nav>
  </div>
</header>
