<!DOCTYPE html>
<html>
<head>
  <title>WriteOnly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="row spacer">
  </div>
  <div class="container">
		<div id="flasher">
			<%= render 'shared/flasher' %>
		</div>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
		<%= render 'layouts/botnav' %>
  </div>
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	</div>

</body>
</html>
